#msg-list {
    height: 80vh;
    overflow: auto;
}

#channel-list {
    height: 80vh;
    overflow: auto;
}


@keyframes hide {
    0% {
        opacity: 1;
        height: 100%;
        line-height: 100%;

        margin-bottom: 5px;
    }
    75% {
        opacity: 0;
        height: 100%;
        line-height: 100%;

        margin-bottom: 5px;
    }
    100% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }
}

.hiddingMessage{
  margin-bottom: 5px;
  animation-name: hide;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.message {
  font-size: 0.9rem;
}

.delete {
  cursor: pointer;
}