{% extends "layouts.html" %}

{% block title %}
    Book
{% endblock %}

{% block body %}
    <h1>Book Details</h1>

    <ul>
        <li>ISBN Number: {{ book.isbn }}</li>
        <li>Title: {{ book.title }}</li>
        <li>Author: {{ book.author}}</li>
        <li>Publication Year: {{ book.year}}</li>
    </ul>

    <h3>Ratings from Goodreads API:</h3>
    <ul>
        <li>Average Rating: {{ info['books'][0]['average_rating'] }}</li>
        <li>Work Ratings Count: {{ info['books'][0]['work_ratings_count'] }}</li>
   </ul>

{% endblock %}
