{% extends "layouts.html" %}

{% block title %}
    Book
{% endblock %}

{% block body %}
    <div class="col">

    <h1>Book Details</h1>

    <ul>
        <li>ISBN Number: {{ book.isbn }}</li>
        <li>Title: {{ book.title }}</li>
        <li>Author: {{ book.author}}</li>
        <li>Publication Year: {{ book.year}}</li>
    </ul>

    <hr>

    <h3>Ratings from Goodreads API:</h3>
    <ul>
        <li>Average Rating: {{ info['books'][0]['average_rating'] }}</li>
        <li>Work Ratings Count: {{ info['books'][0]['work_ratings_count'] }}</li>
   </ul>

   <hr>

   <h3>Write a Review:</h3>

   <form action="{{ url_for('review') }}" method="post">
        <div class="form-row">
            <small id="Rating" class="form-text text-muted">Rate the book on a scale 1 to 5</small>
            <div class="form-check form-check-inline">
                

                <input type="radio" name="rating" value="1"> 1*     </input>
                <input type="radio" name="rating" value="2"> 2*     </input>
                <input type="radio" name="rating" value="3"> 3*     </input>
                <input type="radio" name="rating" value="4"> 4*     </input>
                <input type="radio" name="rating" value="5"> 5*     </input>
                
            </div>

            <div class="mx-auto" style="width: 500px; margin-bottom: 10px;">
                <label for="input_review">Write a Review:</label>
                <textarea type="text" class="form-control" name="input_review" placeholder="Write a review here" rows="3"></textarea>
            </div>
        </div>

        <div class="form-row">
            <button class="btn btn-primary">Submit</button>
            <input class="btn btn-primary" type="reset" value="Reset">
        </div>

    </form>

    <hr>
    </div>
    
    <div class="col">

        <h3>Reviews by other users</h3>
    </div>
{% endblock %}
