{% extends "layouts.html" %}

{% block title %}
    Register Here
{% endblock %}

{% block body %}
    <h1>Register here</h1>

    <form action="{{ url_for('register') }}" method="post">

        <!--div class="mx-auto" style="width: 200px;"-->

          

        <!--div class="form-row"-->
            <div class="mx-auto" style="width: 200px;">
                <label for="input_username">Username</label>
                <input type="text" class="form-control" name="input_username" placeholder="Username">
                <label for="input_email">Email</label>
                <input type="email" class="form-control" name="input_email" placeholder="Email">
                <hr>
                
            </div>
        <!--/div-->

           
        
            <div class="mx-auto" style="width: 200px;">
                <label for="input_password">Password</label>
                <input type="password" class="form-control" name="input_password" placeholder="Password">
                <label for="confirm_input_password">Confirm Password</label>
                <input type="password" class="form-control" name="confirm_input_password" placeholder="Confirm Password">
                <hr>
                <button class="btn btn-primary">Register</button>
                <input class="btn btn-primary" type="reset" value="Reset">
                
            </div>
        <!--/div-->
        
    
    </form>
{% endblock %}