{% extends "layouts.html" %}

{% block title %}
    Sign In
{% endblock %}

{% block body %}
    <h1>Sign In</h1>

    <form action="{{ url_for('sign_in') }}" method="post">

        <div class="form-group">
            <input class="form-control" name="input_username" placeholder="Username">
        </div>

        <div class="form-group">
            <input class="form-control" name="input_password" placeholder="Password">
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Sign In</button>
        </div>
    
    </form>
{% endblock %}