table{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 20px;
    margin: 50px;
}
th{
    background-color: darkgray;
    text-align: center;
    padding: 20px;
}
td{
    background-color: lightgray;
    text-align: center;
    padding: 20px;
}
h3{
    font-style: italic;
}
@media (min-width: 800px){
    body{
        background-color: rgb(252, 160, 224);
    }
}
@media (max-width: 799px){
    body{
        background-color: gold;
    }
}

#top{
    font-size: small;
}
#middle{
    font-size: large;
}
#bottom{
    font-size: xx-large;
}
.name{
    color: rgb(0, 102, 255);
    font-style: italic;
}